{% extends 'blog_vue/__base__.html' %}

{% block scripts_begin %}
 
<script>

function initVM(data) {

    $('#div-blogs').show();
    var vm = new Vue({
        el: '#div-blogs',     
        data: {
            blogs: data.blogs,
            pageList: data.pageList,
            page: data.page,
            offset: data.offset
        },
        methods: {
            edit_blog: function (blog) {
                location.assign('/blog_vue/edit/' + blog.id);
            },
            delete_blog: function (blog) {
                showConfirm('Confirm Delete', 'Confirm delete id ="' + blog.id + '"? Could not recovery.', function () {
                    location.assign('/blog_vue/delete/' + blog.id);
                });
            }
            
        }

    });
}

$(function() {
    getApi('/blogapi/blogpage/{{page}}', function (err, results) {//加载网页就运行
        if (err) {
            return showError(err);
        }
        $('#div-loading').hide(); // 隐藏所有 id="div-loading" 元素
           //alert(results);
           initVM(results);
           
    });
});

</script>

{% endblock %}
{% block content %}
<link href="/static/home/css/btn.css" rel="stylesheet">


    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/blog_vue/show/">Comment</a></li>
                <li class="uk-active"><span>Blog</span></li>
                <li><a href="/blog_vue/users/">User</a></li>
            </ul>
        </div>
    </div>

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-alert uk-alert-danger uk-hidden"></div>
    </div>

   <div id="div-blogs" class="uk-width-1-1" style="display:none">
        <a href="/blog_vue/create/" class="uk-button uk-button-primary"><i class="uk-icon-plus"></i> 新日志</a>

        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-1-10">NO</th>
                    <th class="uk-width-1-10">id</th>
                    <th class="uk-width-1-10">Subject / Summary</th>
                    <th class="uk-width-2-10">Author</th>
                    <th class="uk-width-2-10">Content</th>
                    <th class="uk-width-2-10">created_at</th>
                    <th class="uk-width-1-10">Operation</th>
                </tr>
            </thead>
      </table>

      <table class="uk-table uk-table-hover">   
            <tbody>            
             
                <tr v-for="(blog,index) in blogs"> 
                  <td class="uk-width-1-10"> <span v-text="index+offset"></span> </td>        
                  <td class="uk-width-1-10">  <span v-text="blog.id"></span> </td> 
                  <td class="uk-width-1-10">  <span v-text="blog.subject"></span> </td> 
                  <td class="uk-width-2-10">  <span v-text="blog.author"></span> </td>
                  <td class="uk-width-2-10">  <span v-text="blog.content"></span> </td> 
                  <td class="uk-width-2-10">  <span v-text="blog.created_at"></span> </td>

                  <td class="uk-width-1-10">
                     <a href="#0" v-on:click="edit_blog(blog)"><i class="uk-icon-edit"></i>&nbsp;&nbsp;
                     <a href="#0" v-on:click="delete_blog(blog)"><i class="uk-icon-trash-o"></i>

                        
                    </td>     

                </tr>
              
             
            </tbody>
      </table>


      <table>
        <tbody>
                <td v-for="i in pageList">
                       
                        <span v-if=" i == '...' ">
                             <span v-text="i"></span>
                        </span>
                        <span v-else>                          
                            <span v-if=" i == page ">                               
                                <a  v-bind:href="i"  class="btn btn-lg btn-primary"> <span v-text="i"></span> </a>                              
                            </span>
                            <span v-else>                                             
                                <a v-bind:href="i" class="btn btn-lg btn-default"><span v-text="i"></span></a>
                                                            
                            </span>
                        </span>                                 
                </td>

    </tbody>
  </table>     

{% endblock %}