{% extends 'home/__base__.html' %}

{% block scripts_begin %}
 
<script>
$.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});
function initVM(data) {
    $('#div-users').show();
    var vm = new Vue({
        el: '#div-users',
        data: {
            users: data,
            
        }
    });
}

$(function() {
    getApi('/blogapi/usersapi/'+{{page}}, function (err, results) {
        if (err) {
            return showError(err);
        }
        $('#div-loading').hide();
        initVM(results);
    });
});

</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/blog_vue/show/">Comment</a></li>
                <li class="uk-active"><span>Blog</span></li>
                <li><a href="/blog_vue/users/">User</a></li>
            </ul>
        </div>
    </div>


    <div class="uk-width-1-1">
        <div class="uk-alert uk-alert-danger uk-hidden"></div>
    </div>

    <div id="div-users" class="uk-width-1-1" style="display:none">
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-4-10">Name</th>
                    <th class="uk-width-4-10">Email</th>
                    <th class="uk-width-2-10">Created on</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(user,index) in users"> 
                    <td>
                        <span v-text="user.username"></span>
                        <span v-if="user.username==='admin'" style="color:#d05"><i class="uk-icon-key"></i> Admin</span>
                    </td>
                    <td>
                        <a v-text="user.email"></a>
                    </td>
                    <td>
                        <span v-text="user.date_joined.substring(0,16)"></span>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>

    {% include 'djangopage.html' %}
      
    <div id="div-loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> Loading...</span>
    </div>
{% endblock %}
